## Object Oriented Programming

1. Class is similar to blue print
2. One class can have multiple objects

In [2]:
age = 23
print(type(age))

<class 'int'>

In [4]:
a = [2, 3, 4, 6, 8]
print(type(a))

<class 'list'>

In [5]:
b = (2, 9, "a")
print(type(b))

<class 'tuple'>

In [7]:
c = {"a": 1, "b": 2, "c": 3}
print(type(c))

<class 'dict'>

## Dataframe Class

In [16]:
s = {
    "roll no": [101, 102, 103, 104],
    "name": ["Rahul", "Raman", "Aditi", "Sarthak"],
    "marks": [89, 90, 87, 76],
}
print(type(s))

<class 'dict'>

In [17]:
import pandas as pd

df = pd.DataFrame(s)
df

   roll no     name  marks
0      101    Rahul     89
1      102    Raman     90
2      103    Aditi     87
3      104  Sarthak     76

In [18]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

## Dataframes Attribute

1.df.shape
2.df.columns
3.df.index
4.df.values
5.df.size
6.df.dtypes

In [19]:
df.shape

(4, 3)

In [20]:
df.columns

Index(['roll no', 'name', 'marks'], dtype='object')

In [21]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
df.values

array([[101, 'Rahul', 89],
       [102, 'Raman', 90],
       [103, 'Aditi', 87],
       [104, 'Sarthak', 76]], dtype=object)

In [23]:
df.dtypes

roll no     int64
name       object
marks       int64
dtype: object

In [24]:
df.size

12

## Functions or Methods of Class Dataframe
df.info()
df.sort_values()
df.group_by()

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll no  4 non-null      int64
 1   name     4 non-null      object
 2   marks    4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [ ]:
df.mean